@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: ;
    max-height: 100vh;
    background-color: rgb(255, 217, 0);
    font-family: 'Amatic SC', sans-serif;
}

header{
    text-align: center;
    font-size: 110px;
    margin: 20px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: black;
    gap: 1px;
    border: 1px solid black;
}

.elementGrid {
    background-color: white;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    margin-top: 20px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 40px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 20px;
    cursor: pointer;
}